.card-movie {
  width: 387px;
  height: 245px;
}
.card-movie > img {
  position: absolute;
  visibility: hidden;
}
.card-movie > img.posterErr {
  background-image: url(/src/image/index.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ant-card.ant-card-bordered.cards-meta {
  border: none;
}
.card-movie .ant-card-body {
  height: 245px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.card-movie .ant-card-body img {
  width: 60px;
  height: 91px;
  margin-top: 6px;
  margin-left: 10px;
}
.card-title {
  width: 296px;
  margin-top: 5px;
  margin-left: 13px;
  display: flex;
  flex-wrap: wrap;
}

.card-movie .ant-card-meta-detail {
  width: 296px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 22px;
  display: flex;
}
.card-movie .ant-card-meta-title {
  width: 260px;
  white-space: pre-wrap;
}
.cards-meta .ant-card-meta-description {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border: 2px solid #e90000;
  border-radius: 50%;
  text-align: center;
}
.smallRate .cards-meta .ant-card-meta-description {
  border-color: #e97e00;
}
.middleRate .cards-meta .ant-card-meta-description {
  border-color: #e9d100;
}
.hightRate .cards-meta .ant-card-meta-description {
  border-color: #66e900;
}
.createDate {
  color: #827e7e;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 22px;
  margin-top: 7px;
}
.card-movie .ant-rate {
  width: 239px;
  height: 46px;
  margin-left: 148px;
  margin-bottom: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  .card-movie {
    width: 454px;
    height: 281px;
    display: flex;
  }
  .card-movie > img {
    position: relative;
    visibility: visible;
    width: 183px;
    height: 281px;
  }
  .ant-card.ant-card-bordered.cards-meta {
    width: 239px;
    margin-left: 20px;
  }
  .card-movie .ant-card-body {
    height: 281px;
  }
  .card-movie .ant-card-body img {
    position: absolute;
    visibility: hidden;
  }
  .card-title {
    width: 239px;
    margin-top: 12px;
    margin-left: 0px;
  }
  .card-movie .ant-card-meta-detail {
    width: 239px;
  }
  .card-movie .ant-card-meta-title {
    width: 200px;
  }
  .card-movie .ant-rate {
    width: 239px;
    height: 46px;
    margin-left: 0px;
    margin-bottom: 0;
  }
}
