.new-search {
  width: 388px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 0px auto;
  padding: 9px 12px;
}
@media (min-width: 576px) {
  .new-search {
    width: 938px;
  }
}
